extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick
      form#profile-form(action='/user/profile' method='post')
        input#profile-nick(type='text' name='nick')
        button#profile-btn.btn(type='submit') 정보변경하기
